@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Taste of the Islands</h1>
</div>

<center>
    <h3><i>Israel "IZ" Kamakawiwo'ole</i></h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/w_DKWlrA24k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>


